*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    width: 100%;
    height: 12dvh;
    background-color: #023d8acb;
    justify-content: space-between;
}
.logo{
    padding: 15px 30px;
    line-height: 1.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: #CAF0F8;
    font-weight: bolder;
    font-size: clamp(1.5rem, 1vw, 2rem);
}
.logo p{
    font-size: clamp(0.6rem, 0.7vw, 1rem);
    color: #CAF0F8;
}
.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar ul{
    list-style: none;
    display: flex;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar a{
    padding: 5px 10px;
    text-decoration: none;
    color: #CAF0F8;
    font-size: clamp(1rem, 0.9vw, 1.3rem);
    transition: 0.3s ease;
}
.navbar a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ADE8F4;
}
.user{
    padding: 15px 5px;
    background-color: rgb(202, 240, 248, 0.6);
    border-radius: 15px;
    transition: 0.1s ease;
}
.user a{
    font-size: 0.9rem;
    color: #256470;
    transition: 0.1s ease;
}
.user:hover{
    background-color: #48CAE4;
    border: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.user a:hover{
    font-size: 0.9rem;
    color: #CAF0F8;
}
.sidebar{
    height: 100dvh;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #023e8a;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
}
.sidebar ul{
    list-style: none;
    width: 100%;
    padding: 15px 30px;
}
.sidebar li{
    width: 100%;
    padding: 10px 0;
}
.sidebar a{
    text-decoration: none;
    color: #CAF0F8;
    transition: 0.2s ease;
}
.sidebar a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    color: #ADE8F4;
    padding: 5px 10px;
}
#menu{
    display: none;
}

@media (max-width: 900px){
    #menu{
        display: block;
    }
    .navbar li{
        display: none;
    }
}
.container{
    height: 88dvh;
    padding: 15px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #CAF0F8;
}
.left{
    width: 55dvw;
    display: flex;
    padding: 15px 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 10px;
}
.left h1{
    font-size: clamp(1rem, 8vw, 2.5rem);
    color: #48CAE4;
}
.left h1 p{
    color: #023E8A;
    font-size: clamp(1rem, 8vw, 2.5rem);
}
.left p{
    color: #48CAE4;
    font-size: clamp(0.5rem, 5vw, 1rem);
}
.left button{
    padding: 15px 30px;
    border-radius: 10px;
    background-color: #48CAE4;
    color: #CAF0F8;
    font-size: clamp(0.8rem, 6vw, 1rem);
    border: 1px solid #48CAE4;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
}
.logo-image{
    height: 60vh;
    border-radius: 30px;
    background-image: url('./images/image-3.png');
}
