*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 20dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b8b8;
    border-radius: 5px;
}
#greet{
    font-size: 3rem;
    color: rgb(41, 41, 41);
}
main{
    height: 80dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 10;
}
.container{
    
    display: flex;
    column-gap: 3rem;
}
.box{
    height: 10rem;
    width: 10rem;
    font-family: cursive;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid #525252;
}

.intext{
    padding: 20px 30px;
    font-size: 1rem;
    font-family: cursive;
    transition: .2s ease;
}
.intext:hover{
    background-color: #ced4da;
    border: 2px solid #212529;
    border-radius: 5px;
}
.in{
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0;
    box-sizing: border-box;
}
.btn{
    padding: 20px 30px;
    font-family: cursive;
    font-size: 1rem;
    transition: 0.2s ease;
}
.btn:hover{
    border: 2px solid #212529;
    border-radius: 5px;
}