/* https://coolors.co/palette/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    font-family: 'Zalando Sans Expanded', times New Roman;
    text-rendering: optimizeLegibility;
}
header{
    height: 100dvh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url('img/BGIMG.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logo{
    height: 100px;
    border-radius: 50px;
    /* mix-blend-mode: multiply; */
    float: left;
    margin: 15px;
    margin-left: 4%;
}
.navbar ul{
    list-style: none;
    margin-right: 25px;
    padding-top: 50px;
    margin-left: 30%;
}
.navbar li{
    display: inline-block;
    padding: 10px 15px;
}
.navbar a:link,
.navbar a:visited{
    text-decoration: none;
    color: #FFE8D6;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a:active{
    background-color: rgba(0, 0, 2, 0.2);
}
.navbar{
    height: 20dvh;
}
.username{
    background-color: rgba(97, 181, 214, 0.274);
    padding: 20px 30px;
    margin-left: 20vw;
}
.hero-text{
    height: 60dvh;
    display: flex;
    align-items: center;
    /* transform: translate(10%, 30%); */
    line-height: 300%;
    padding-left: 10%;
}
.hero-text h1{
    margin: 0;
    padding: 15px;
    color: #FFE8D6;
    font-size: 250%;
}
.btn:link,
.btn:visited{
    text-decoration: none;
    background-color: #CB997E;
    padding: 15px 20px;
    border-radius: 10px;
    margin-left: 20px;
    color: #FFE8D6;
    border: 2px solid transparent;
    transition: background-color 0.3s, border-radius 0.2s, color 0.3s, ;
}
.btn2:link,
.btn2:visited{
    background-color: transparent;
    border: 2px solid #CB997E;
    transition: background-color 0.5s, border-radius 0.4s, color 0.5s, ;
}
.btn:hover,
.btn:active{
    background-color: #DDBEA9;
    border-radius: 12px;
    color: #B98B73;
    border: 2px solid #CB997E;
}
.btn2:hover,
.btn2:active{
    background-color: rgba(221, 190, 169, 0.5);
    border-radius: 12px;
    color: #FFE8D6;
    border: 2px solid #CB997E;
}
.achieve-box{
    height: 20dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 35%;
}
.box2{
    width: 65%;
    display: flex;

}
.achieve-box h2{
    color: #FFE8D6;
    /* padding: 15px 10px; */
    /* padding-right: 10%; */
    font-size: 150%;
    margin-left: 15%;
}
.achievement{
    width: 35%;
    margin-right: 1%;
    display: inline-block;
    justify-content: center;
}
.achievement h3{
    font-size: 150%;
    color: #FFE8D6;
}
.achievement p{
    font-size: 100%;
    color: #FFE8D6;
}
.our-services{
    height: 100dvh;
    width: 100%;
    padding: 5%;
    display: flex;
    background-color: #f6f8fa;
    align-items: center;
    justify-content: center;
}
.left{
 width: 50%;
 height: 80dvh;
 background-color: #ffffff;
 border-radius: 20px;
 padding: 2%;
    h3{
        font-size: 150%;
    }
    p{
        font-size: 90%;
    }
}
.all-services{
    height: 80%;
    padding: 3%;
}
.service-info-btn{
    /* margin-left: 50%; */
    width: 80%;
    height: 3.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #0a949649;
    ion-icon{
        font-size: 120%;
    }
}
.remove-item{
    color: #dd7c7c;
}
.service-info{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0 3%;
    div{
        width: 100%;
    }
}
.price{
    margin-left: 1%;
}
.alert-book-now{
    color: red;
}
.info-icon{
    padding: 10px;
    color: #001219;
}
.right{
    width: 40%;
    margin-left: 2%;
    padding: 2%;
    background-color: #ffffff;
    border-radius: 20px;
    height: 80dvh;
}
.cart-box{
    height: 30dvh;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 3rem;
    h4{
        top: 0;
    }
    
}
.cart{
    height: 25dvh;
    width: 100%;
    padding: 3%;
}
.cart-head{
    display: flex;
    column-gap: 80px;
}
.no-item-cart{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    ion-icon{
        font-size: 250%;
    }
    h5{
        font-size: 110%;
    }
    p{
        font-size: 80%;
    }
}
.item{
    display: flex;
    column-gap: 80px;
}
.total-cart-price{
    /* position: absolute; */
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    p{
        margin-left: 50%;
    }
}

.col{
    width: 40%
}
.book-now{
    height: 30dvh;
    display: flex;
    margin-top: 20px;
    padding: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    td{
        padding: 2%;
    }
}
.txt-box{
    padding: 10px 15px;
}
#txt-name{
    width: 100%;
}
.book-btn{
    width: 100%;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: #5562f9;
    color: white;
    font-size: 130%;
    border: 2px solid transparent;
}
.service-quality{
    height: max-content;
    width: 100%;
    margin: 0;
    background-color: #d4d4d4;
}
.service-quality-sec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
    align-items: center;
    justify-content: center;
}
.quality{
    width: 22%;
    height: 40dvh;
    padding: 2%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
    text-align: justify;
    line-height: 120%;
    gap: 20px;
    scroll-behavior: smooth;
}
.quality h2{
    font-size: 150%;
}
.quality p{
    font-size: 110%;
}
.quality-icon{
    height: 100px;
}
.news-container{
    background: linear-gradient(to right, #94D2BD, #E9D8A6);
    height: 30dvh;
}
.letter-head{
    width: 40%;
    height: 30dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    padding: 5%;
}
.letter-head h2{
    font-size: 230%;
    color: #005F73;
    padding: 5%;
}
.letter-input{
    width: 55%;
    height: 30dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
}
.letter-txt-box{
    padding: 1%;
    gap: 10px;
    display: flex;
}
.letter-inputs{
    background-color: #a6ebd4;
    border: 2px solid #0A9396;
    border-radius: 10px;
}
.letter-btn{
    background-color: #0A9396;
    border: 2px solid #0A9396;
    border-radius: 10px;
    transition: background-color 0.2s, border-radius 0.2s, border 0.5s;
}
.letter-btn:hover,
.letter-btn:active{
    background-color: #005F73;
    border: 2px solid #005F73;
    border-radius: 12px;
}
.letter-input div{
    width: 100%;
}
.btn{
    padding: 10px 13%;
    margin-left: 1%;
    margin-top: 3%;
}
footer{
    height: 30dvh;
}
.flex-container-4 {
    height: 100%;
    padding: 1%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  --flex-items: 4;
}

.flex-gap-20 {
  gap: 20px;
  --flex-gap: 20px;
}
.flex-item {
  flex-basis: calc(((100% / var(--flex-items) * var(--flex-item-span)) - (var(--flex-gap) * (var(--flex-items) - var(--flex-item-span)) / var(--flex-items))));
}

.flex-item-1 {
    width: 24%;
    align-items: center;
  --flex-item-span: 1;
  img{
    height: 100px;
  }
  h6{
    font-size: 150%;
    color: #005F73;
  }
}

.flex-item-2 {
    width: 24%;
  --flex-item-span: 2;
  ul{
    list-style: none;
  }
  li{
    padding: 5px;
  }
  a{
    text-decoration: none;
    color: #0A9396;
  }
  h6{
    font-size: 150%;
    color: #005F73;
  }
}

.flex-item-3 {
    width: 24%;
  --flex-item-span: 3;
  ul{
    list-style: none;
  }
  li{
    padding: 5px;
  }
  h6{
    font-size: 150%;
    color: #005F73;
  }
}

.flex-item-4 {
    width: 24%;
  --flex-item-span: 4;
  h6{
    font-size: 150%;
    color: #005F73;
  }
  ion-icon{
    font-size: 150%;
    margin: 1%;
    color: #005F73;
  }
}
